.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-wrapper {
  width: 600px;
  margin: auto;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
}

.input-wrapper input {
  width: 100%;
  outline: none;
  height: 1cm;
  border: 0;
  text-indent: 20px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 0.5cm;
}

#donald-trump-response::first-letter {
  margin-left: 40px;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .input-wrapper {
    width: 90%;
    margin: auto;
  }
}
